* {
  padding: 0px;
  margin: 0px;
  background: rgb(60, 66, 75);
}

h1 {
  margin: 15px 0px;
  color: wheat;
  text-align: center;
}

form {
  margin: 10px;
}

button {
  font-size: 16px;
  padding: 10px;
  margin: 0vh 30vw;
  background-color: rgb(201, 254, 226);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(159, 253, 203);
}

.submit {
  margin-left: 5px;
  background-color: rgb(237, 106, 90);
}
.submit:hover {
  background-color: rgb(250, 89, 68);
}

input {
  font-size: 16px;
  padding: 10px 160px;
  padding-left: 10px;
  border: 1px solid;
  border-radius: 5px;
}

li {
  font-size: 28px;
  margin: 5px 0px;
  padding: 10px 0px;
  list-style: none;
  color: white;
  border-bottom: 1px solid black;
  border-width: 70%;
}
